header {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
   padding: 10px; 
   display: inline-block;
   font-size: 48px;   
}


nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    margin-left: 20px;


}